@using Services
@inject BackProxyService _backProxyService


<MatTable Items="@contracts" class="mat-elevation-z5" ShowPaging="true" UseSortHeaderRow="false">
    <MatTableHeader>
        <th style="width:35%;">Id</th>
        <th style="width:65%;">Name</th>
        <th style="width:30%;">Contract Type</th>
    </MatTableHeader>
    <MatTableRow>
        <td style="width:35%;">@context.Id </td>
        <td style="width:35%;">@context.Name</td>
        <td style="width:30%;">@context.ContractType</td>
    </MatTableRow>
</MatTable>

<MatFAB Style="position: fixed; bottom: 1rem; right: 1rem;" Icon="add" OnClick="@OpenDialog" Raised="true"></MatFAB>
<CreateContractDialog @bind-Opened="DialogOpened" />

@code {

    public List<BlazorFront.Models.Contract> contracts;
    public bool DialogOpened = false;

    protected override async Task OnInitializedAsync()
    {
#if DEBUG
        await Task.Delay(10000);
#endif
        contracts = await _backProxyService.GetContractsAsync();
    }

    void OpenDialog()
    {
        DialogOpened = true;
    }

}
